{{ define "telegram.message" -}}
{{- range .Alerts }}
{{- if eq .Status "firing" -}}
🚨 <b>ALERT FIRING</b>
{{- else -}}
✅ <b>ALERT RESOLVED</b>
{{- end }}
<b>{{ .Annotations.title }}</b>
{{ .Annotations.summary }}

{{ .Annotations.description }}

🏷 <b>{{ .Labels.severity }}</b> • 📛 {{ .Labels.alertname }}
{{- end }}
{{- end }}